# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Environment Variables
.env

# Media
media/

# Static Files
staticfiles/

# Migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py